.circ_slot_label_name {
    font-family: "Fira Code Bold Nerd Font Complete";
    font-size: 20px;
    color: inherit;
}

.circ_slot_label_value {
    font-family: "Fira Code Bold Nerd Font Complete";
    font-size: 15px;
    color: inherit;
}

.circ_slot_graphic {
    background-color: #737373;
    color: inherit;

    margin: 5px;
}

.circ_slot {
    background-color: #99004d;

    border-style: solid;
    border-width: 3px;

    border-radius: 25px;

    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
