[submodule "config/nushell/scripts/nu_scripts"]
	path = config/nushell/scripts/nu_scripts
	url = https://github.com/nushell/nu_scripts.git
[submodule "modules/home-manager/programs/yazi/tokyo-night.yazi"]
	path = modules/home-manager/programs/yazi/tokyo-night.yazi
	url = https://github.com/BennyOe/tokyo-night.yazi.git
