[user]
email = {{ .email | quote}}
name = {{ .username | quote }}

[core]
pager = delta

[push]
autoSetupRemote = true

[pull]
rebase = false

[interactive]
diffFilter = delta --color-only

[delta]
navigate = true

[merge]
conflictstyle = diff3

[diff]
colorMoved = default
