@import "./widgets/cpu/cpu";
@import "./widgets/time/time";
@import "./widgets/date/date";
@import "./widgets/disk/disk";
@import "./widgets/ram/ram";
@import "./widgets/swap/swap";
@import "./widgets/circular_slot//circular_slot";

.dashboard {
    background-image: linear-gradient(to right, #7700b3, #c44dff, #7700b3);

    border-radius: 25px;
    border-style: solid;
    border-width: 7px;
    border-color: #e6e6ff;
}
